<h1>Create a new Pet</h1>
 
 <form action="/pets" method="POST">
   <label>Name:</label>
 
   <br></br>
 
   <input type="text" name="pet[name]">
 
   <br></br>
 
   <label>Choose an existing owner:</label>
 
   <br></br>
 
   <%Owner.all.each do |owner|%>
     <input type="checkbox" name="pet[owner_id]" value="<%=owner.id%>"><%=owner.name%></input>
   <%end%>
 
   <br></br>
 
  <label>and/or, create a new owner:</label>
     <br></br>
     <label>name:</label>
       <input  type="text" name="owner[name]"></input>
     <br></br>
   <input type="submit" value="Create Pet">
 </form>