
      <% @posts.each_slice(3) do |array_of_3_items|%>
        <div class="row">
            <% array_of_3_items.each do |post|%>
              <div class="col-md-4">
            <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
              <p> <%= post.body %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>