<div class="row center">
  <div class="col-md-2"></div>
  <div class="col-md-8">

<h1>New Post</h1>
 
 <form action="/posts" method="post">
  
  <div class="form-group">
     <label for="post_title">Title:</label>
        <input id="post_title" class="form-control" name="post[title]" type="text" value="<%= @post.title %>" /><br>
    
 <div class="form-group">
  <label for="post_body">Body:</label><br />
  <textarea id="post_body" name="post[body]" class="form-control" rows="5"><%= @post.body %></textarea>
</div><br>
 

<div class="form-group">
   <label>Choose an Author:</label>
  
   <%Author.all.each do |author|%>
     <input type="checkbox" name="post[author_id][]" value="<%=author.id%>"><%=author.name%></input>
   <%end%><br>
 </div>
 
 <br>
  <h4>Or, Add a New Author:</h4><br>
<div class="form-group">
     <label>Author Name:</label>
       <input  type="text" class="form-control" name="author[name]"></input>
     <div><br>
   <input type="submit" class="btn btn-default" value="Create Post">
 </form>
  </div>
</div>