<h1>New Post</h1>
 
 <form action="/posts" method="post">
     <label for="post_title">Title:</label><br />
        <input id="post_title" name="post[title]" type="text" value="<%= @post.title %>" />
    
         <br></br>
 
  <label for="post_body">Body:</label><br />
  <textarea id="post_body" name="post[body]" rows="5"><%= @post.body %></textarea>
  <br />
 
   <br></br>
 
   <label>Choose an Author:</label>
 
   <br></br>
 
   <%Author.all.each do |author|%>
     <input type="checkbox" name="post[author_id]" value="<%=author.id%>"><%=author.name%></input><br>
   <%end%>
 
   <br></br>
 
  <label>and/or, add a new Author:</label>
     <br></br>
     <label>Author Name:</label>
       <input  type="text" name="author[name]"></input>
     <br></br>
   <input type="submit" class="btn btn-default" value="Create Post">
 </form>